/* ANIMATIONS */

// Loader

@keyframes loader-rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

// Background

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

// Reveal animations

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right-xl {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left-xl {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* Animation for popping effect */
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.2);
    /* Slightly larger during animation */
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// Keyframe for the heart-beat animation
@keyframes heart-beat {
    0%, 100% {
        transform: scale(0.9); // Normal size
    }
    50% {
        transform: scale(1.1); // Slightly larger for "beating" effect
    }
}