/* FONTS */

@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Anybody:wdth,wght@84.5,363;84.5,424;84.5,614&display=swap');

@font-face {
    font-family: AceSans;
    src: url("../fonts/AceSans-FREE.otf") format("opentype");
}

@font-face {
    font-family: 'circula';
    /* src: url('out.eot'); /* IE9 Compat Modes */
    /* src: url('out.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    src: url('../fonts/circula/circula.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/circula/circula.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/circula/circula.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/circula/circula.svg#circula') format('svg'); /* Legacy iOS */
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a, p {
    font-family: AceSans;
}

p {
    font-size: $font-size;
    font-family: 'Anybody', cursive;
    font-weight: normal;
    color: $font-pri-w;
    line-height: 126%;
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: AceSans;
    line-height: 100%;
    color: $font-pri-w;
}

h1, h2 {
    white-space: nowrap;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}
