/* FONTS */

@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Anybody:wdth,wght@84.5,363;84.5,424;84.5,614&display=swap');

@font-face {
    font-family: AceSans;
    src: url("../fonts/AceSans.otf") format("opentype");
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a, p {
    font-family: AceSans;
}

p {
    font-size: $font-size;
    font-family: 'Anybody', cursive;
    font-weight: normal;
    color: $font-pri-w;
    line-height: 126%;
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: AceSans;
    line-height: 100%;
    color: $font-pri-w;
}

h1, h2 {
    white-space: nowrap;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}
