@use "variables" as *;

.fixed-navbar-button {
   position: fixed;
   top: 20px;
   right: 20px;
   width: 80px;
   height: 80px;
   background-color: $font-sec;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transition: background-color 0.3s ease;
   z-index: 1000;
}

.fixed-navbar-button:hover {
   background-color: $color-pri; /* Darker violet on hover */
}

.fixed-navbar-button i {
   font-size: 30px;
}

