@import "base";

@import "loader";

@import "variables";

@import "fonts";

@import "anims";

@import "navbar";

@import "elements";

@import "blocks";

@import "paintings";

@import "footer";

@import "media";
