@import "base";

@import "loader";

@import "variables";

@import "fonts";

@import "anims";

@import "navbar";

@import "elements";

@import "homepage";

@import "paintings";

@import "murals";

@import "footer";

@import "media";
